.homeLayout {
  display: grid;
  grid-template-columns: auto auto;
  padding: 4rem 3rem 2rem 4rem;
}

.header {
  margin-bottom: 3rem;
}

.headerTitle {
  font-weight: bold;
  font-size: 3rem;
}

.headerDesc {
  font-size: 1.5rem;
}

.position {
  font-weight: bold;
}

.factTitle {
  font-size: 3rem;
  font-weight: bold;
}

.factDesc {
  width: 75%;
  font-size: 2rem;
}

.scanTitle {
  font-weight: bold;
  font-size: 2em;
}

.scanID {
  margin-top: 2em;
  background-color: white;
  width: 500px;
  height: 500px;
}

.surpriseArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 5em;
  margin-right: 15em;
}

.surpriseText {
  font-size: 2rem;
  font-weight: bold;
}
